* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}
body {
  background-color: #599b76;
}
.container-fluid {
  background-color: #599b76;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.display {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 340px;
  padding: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
.display h1{
  display: block;
  width: 100%;
  text-align: center; 
}
.drum-pad {
  border: 1px solid #333;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  height: 100px;
  width: 100px;
  margin: 5px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}
.box:hover {
  background-color: #effeef;
}

.drum-pad.active{
  opacity: .6;
  transform: scale(0.98);
}

@media only screen and (max-width: 600px) {
  .display {
    width: 220px;
    padding-bottom: 15px;
  }
  .display h1{
    font-size: 20px;
  }
  .drum-pad {
    height: 50px;
    width: 50px;
    margin: 2.5px;
    font-size: 15px;
  }
}